.App {
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: url("../image/backgroundLove2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    width: 100vw;
    position: fixed;


}

a {
    border-radius: 12px;
    min-width: 300px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 24px 14px;
    font-family: "Roboto";
    text-decoration: none;
}

.header {
    height: 40px;
    display: flex;
    justify-content: end;
    padding: 0 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: rgb(110 94 174)
}

.link-wb {
    background: linear-gradient(0deg, rgba(36, 36, 36, .05) 0, rgba(36, 36, 36, .05) 100%), linear-gradient(97deg, #ed3cca .49%, #df34d2 14.88%, #d02bd9 29.27%, #bf22e1 43.14%, #ae1ae8 57.02%, #9a10f0 70.89%, #8306f7 84.76%, #7c1af8 99.15%);
    margin-bottom: 10px;
}

.link-tg {
    background: rgb(110 94 174)
}

.feedback-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 20px;
    width: fit-content;
    position: relative;

}

.feedback-text {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 3px 0;
    font-family: "Roboto";
    color: rgb(110 94 174);
}

.feedback-link {
    font-size: 0;
    text-align: left;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0
;

}

.star-container {
    display: flex;
    padding: 6px 8px;
    background-color: rgba(255, 255, 255, .7);
    width: fit-content;
    border: 1px solid rgb(110 94 174);
    border-radius: 8px;
    list-style: none;
}

.star {
    background-image: url("../image/star.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
